<% layout("/layouts/boilerplate") %>
<style>
     body {
        background-color: #f4f6f9;
    }
    .auth-card {
        width: 480px;
        padding: 30px;
        border-radius: 12px;
        background: white;
        box-shadow: 0 4px 20px rgba(0,0,0,0.08);
        min-height: 260px;
    }
    .form-control {
        height: 45px;
        border-radius: 8px;
    }

    .main-btn {
        height: 45px;
        border-radius: 8px;
        background-color: #3b82f6;
        color: white;
        border: none;
    }

</style>
<div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="auth-card">

    <h3 class="text-center">Enter Email</h3>
    <p class="text-center text-muted mb-4">send opt</p>

<form action="/forget-password" method="POST">

    <div class="mb-3">
        <input type="email" name="email" class="form-control" placeholder="Email" required>
    </div>
    <button class="btn main-btn w-100">Send otp</button>
</form>
</div>
</div>